@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if(!ShowSeleccion)
{
    foreach(Datos redsocial in RedesSociales)
    {
        <div>
            <div class="form-control">
                <label class="form-text">@redsocial.RedSocial</label>
            </div>
            <label>Dame el link</label>
            <div class="form-control">
                <input class="form-text" @bind=redsocial.Link />
            </div>
        </div>
        <hr />
    }
    <button type="button" class="btn btn-primary" @onclick=AgregarRedSocial>Agregar nueva red social</button>
}
else
{
    foreach(Datos redsocial in Posibilidades)
    {
        if (redsocial.Visible)
        {
            <div>
                <div class="form-control">
                    <label class="form-text">@redsocial.RedSocial</label>
                </div>

                <button type="button" class="btn btn-success" @onclick="() => SelectSocial(redsocial)">Seleccionar red social</button>
            </div>
        }
    }
}



@code {
    class Datos
    {
        public string RedSocial { get; set; }
        public string Link { get; set; }
        public bool Visible { get; set; } = true;
    }

    List<Datos> RedesSociales = new();
    Datos[] Posibilidades = new Datos[]
    {
         new Datos
         {
             RedSocial = "Facebook",
         },
         new Datos
         {
             RedSocial = "LinkedIn",
         }
    };

    void AgregarRedSocial()
    {
        ShowSeleccion = Posibilidades.Count(r=> r.Visible == true) > 0;
    }

    bool ShowSeleccion;
    void SelectSocial(Datos seleccion)
    {
        seleccion.Visible = false;
        RedesSociales.Add(seleccion);
        ShowSeleccion = false;
    }

}
